<div class="container"> 
  <h3>Cours à domicile ou en ligne</h3>
</div>


<div class="starter-template" style="cursor:pointer">
  <ul>
  <div *ngFor="let course of cours">
    <a [routerLink]="['/cours', course.detail]" class="ancrage"> <ngb-alert type="info" [dismissible]="false" >
      <h3><a href="{{course.url}}">{{course.desc}}</a></h3>
      <p>{{course.title}}</p>
      <p>{{course.prix}}</p>
      <div>
        <a href="{{course.url}}" target="_blank" class="btn btn-success margin-right-button" >Consulter</a>
        <a (click)="ajouterCour(course)" target="_blank" class="btn btn-success" >Ajouter</a>
      </div>
    </ngb-alert>
  </a>
  </div>
</ul>
</div>